# Node.js dependencies
node_modules/
.next/
out/

# Virtual environments
amd/
.amd/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Logs
*.log

# OS files / editor
.DS_Store
Thumbs.db
.vscode/
.idea/